
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>

<body>

<h1> About us </h1>
Adrià Bridge

<img src="/static/img/adria.jpeg" alt="Adrià" width="200" height="120"> <br />  <br />

Adrià studied Biotecnology in the University of Valencia. He has played in the Harlem Globetrotters for 10 years but he decided to study bioinformatics in order to something usefu in his life.

 <br />  <br />


Paula Gomis

<img src="/static/img/paula.png" alt="Paula" width="200" height="120"> <br />  <br />
Paula studied Mathematics in the University of Alicante. She is currently studying the Masters in Bioinformatics in University Pompeu Fabra of Barcelona.
 <br />  <br />



Fabián Robledo

<img src="/static/img/fabian.jpg" alt="Fabián" width="200" height="120"> <br />  <br />

Fabián is also from Valencia and knows everthing about everything.

 <br />  <br />



Arturo González

<img src="/static/img/arturo.jpg" alt="Arturo" width="200" height="120"> <br />  <br />

Arturo is the king of empollones and he studied Biotecnology in the University of Valencia. He is currently studying the Masters in Bioinformatics in University Pompeu Fabra of Barcelona.

</body>





</html>
