<!DOCTYPE html>
  <html>
    <head>
      <title> Clustomics | Nombre del proyecto </title>
      <meta charset="UTF-8">
      <meta name="description" content="This field contains information about your page. It is usually around two sentences long.">.
      <meta name="author" content="Conor Sheils">
    </head>
    <body>
      <h1> Header con algo </h1>
      <table>
        <tr>
        <td>Row 1 - Column 1</td>
        <td>Row 1 - Column 2 </td>
        </tr>
        <tr>
        <td>Row 2 - Column 1</td>
        <td>Row 2 - Column 2</td>
        </tr>
      </table>
      <p> Descripcion del proyecto </p>
      <a href="Link a los detalles de un proyecto"> Nombre del proyecto</a>
    </body>
  </html>
     
