doctype html>
<html>
   <body>
	   
 	<h1> {{project['project_name']}} </h1>
<h2> New run </h2>
<form action={{ url_for("project", user=username, project=project['project_name'])}}>
 Select algorithm <select name="algorithm">
    <option value="algorithm_1">Algorithm_1</option>
    <option value="algorithm_2">Algorithm_2</option>
  </select>
  <br><br>
<form action={{ url_for("project", user=username, project=project['project_name'])}}>
  Select number of groups: <input type="number" name="quantity" min="1" max="10">
</form>
<form action={{ url_for("project", user=username, project=project['project_name'])}}>
  Select linkage: <input type="number" name="quantity" min="1" max="10">
</form>
<form action={{ url_for("project", user=username, project=project['project_name'])}}>
  Select distance: <input type="number" name="quantity" min="1" max="10">
</form>
  <input type="submit">
</form>
<h2> Previous runs</h2>
	<table border=1>
      {% for run in results %}
	<tr>	
               <th> {{ run['project_date'] }} </th>
               <td> {{ run['validation_result'] }} </td>
		<td> {{ run['user'] }} </td>
		<td> {{ run['algorithm'] }} </td>
		<td> {{ run['linkage'] }} </td>
		<td> {{ run['distance'] }} </td>
		<td> {{ run['groups'] }} </td>   
        </tr>        

      {% endfor %}
   </body>
</html>
