<doctype html>
<html>
   <body>
	   
 	<h1> {{project['project_name']}} </h1>
<h2> New run </h2>
<form>
     Select algorithm 
     <select name="algorithm">
        <option value="algorithm_1">K Means</option>
        <option value="algorithm_2">Hierarchical clustering</option>
     </select>
      <br />
      Select number of groups: <input type="number" name="quantity" min="1">
      <br />
      Select linkage: 
      <select>
          <option value="ward"> Ward</option>
          <option value="single"> Single</option>
      </select>
      <br />
      Select distance: 
      <select>
          <option value="euclidean">Euclidean</option>
      </select>
      <br />
      <input type="submit"></p>
</form>
<h2> Previous runs</h2>
	<table border=1>
      {% for run in results %}
	<tr>	
               <th> {{ run['project_date'] }} </th>
               <td> {{ run['validation_result'] }} </td>
		<td> {{ run['user'] }} </td>
		<td> {{ run['algorithm'] }} </td>
		<td> {{ run['linkage'] }} </td>
		<td> {{ run['distance'] }} </td>
		<td> {{ run['groups'] }} </td>   
        </tr>        

      {% endfor %}
   </body>
</html>
