<!DOCTYPE html>
  <html>
    <head>
      <title> RunID | Nombre del proyecto </title>
      <meta charset="UTF-8">
      <meta name="description" content="This field contains information about your page. It is usually around two sentences long.">
      <meta name="author" content="Conor Sheils">
    </head>
    <body>
      <h1> Run ID </h1> {{date}}
      <p> {{algorithm}} </p>
      <p> {{validation_parameter}} </p>
      <p> {{number_of_groups}} </p>
      <p> {{distance}} </p>
      <p> {{linkage}} </p>
      <img src="external-content.duckduckgo.com.jpeg" alt ="Results plot">
    </body>
  </html>
