<!DOCTYPE html>
  <html>
    <head>
      <title> RunID | {{project_name}} </title>
      <meta charset="UTF-8">
      <meta name="description" content="">
      <meta name="author" content="Conor Sheils">
    </head>
    <body>
      <nav>
        <a href="">Home</a> |
        <a href="">MyProjects</a> |
        <a href="">This Project</a>
      </nav>
      <h1> Run ID </h1> {{date}}
      <p>User: {{user_name}} </p>
      <p>Group: {{group_name}} </p>
      <p>Algorithm: {{algorithm}} </p>
      <p>Validation parameter: {{validation_parameter}} </p>
      <p>Number of clusters: {{number_of_groups}} </p>
      <p>Distance type: {{distance}} </p>
      <p>Linkage: {{linkage}} </p>
      <h2> Table </h2>
      <table border=1>
        {% for datapoint in data %}
        <tr>
          <th> Datapoint ID/position </th>
          <th> Datapoint assigned Group </th>
        </tr>
          <td> {{ Datapoint ID }} </td>
          <td> {{ Datapoint Group }} </td>
        {% endfor %}
      </table>
      <img src={{img_route}} alt ="Results plot">
    </body>
  </html>
